# This is a simple configuration to get this running using docker compose.

REDIS=redis://redis:6379


AUTH_PERM_CALLBACK=http://demo:5173/auth/perm
YDOC_UPDATE_CALLBACK=http://demo:5173/ydoc

# log everything
LOG=*

## Generate the auth tokens with `npx 0ecdsa-generate-keypair --name auth >> .env`
